Options +FollowSymlinks
RewriteEngine on

IndexIgnore *
DirectoryIndex index.html
ErrorDocument 404 /404.html

RewriteCond %{HTTP_HOST} ^downloads.ceylon-lang.org$
RewriteRule ^(\/)?$ "http://ceylon-lang.org/download/" [R=302,L]
RewriteRule ^ide(\/)?$ "http://ceylon-lang.org/documentation/ide/install/" [R=302,L]